body{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    // max-width: 1280px;

    // Add Flexbox properties
    display: flex;
    justify-content: center; // Centers content horizontally
    align-items: center; // Centers content vertically
    // height: 100vh; // Full height of the viewport
    // max-width: 1200px;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 18px;
}

li  {
    font-size: 18px;
}

button {
    padding: 15px 40px;
    border: 1px solid #3e3d35;
    color: #3e3d35;
    height: 60px;
    background: none;

    display: flex;
    align-items: center;

    transition: 0.15s linear;
}

button:hover {
    background-color: #5a5a57;
    color: #f8f8f4;

    transition: 0.15s linear;
}


.navlinks {
    color: #f8f8f4;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 0;
}

.companyName {
    font-size: 24px;
    font-weight: 400;
    color: #f8f8f4;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
}

.companyTitle {
    size: 18px;
    color: #f8f8f4;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
}

.NavButton {
    background-color: #858584;
    position: absolute; /* Use absolute positioning */
    right: 20px; /* Aligns the button to the right */
    top: 50%; /* Start from the middle of the container */
    transform: translateY(-50%); /* Adjust for the height of the button to center it vertically */

    aspect-ratio: 1/1;
    border-radius:10px;
    width: auto;
    padding: 20px;
    color: #f8f8f4;
    font-size: 25px;
    height: auto;
}

// .custom-offcanvas {
//     background-color: #3e3d35; /* Change this to your desired background color */
//     color: #f8f8f4; /* Optional: Change text color if needed */
// }

// .custom-offcanvas-header {
//     font-family: Arial, Helvetica, sans-serif;
//     background-color: #3e3d35;

//     margin: 0;
// }

.custom-offcanvas-body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3e3d35;
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3e3d35;
    width: 100%;
    height: 85px;
    display: flex;
    position: relative;

    padding: 40px;

    #company {
        // border: 3px solid white;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-left: 50px;
    }

    #nav {
        // border: 5px solid white;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;


    }
}

#footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto; // Adjust height as needed
    // height: 447px;
    background-color: #3e3d35;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 40px;

    .sections-container {
        display: flex;
        flex: 1;
        flex-wrap: wrap;

        .section {
            // border: 2px solid white;
            flex: 1; // This will make all sections equal in width

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            margin: 20px;
            padding: 20px;

            .subNavlinks {
                color: #f8f8f4;

                .email-link {
                    color: #f8f8f4;
                    text-decoration: none;
                }
            }
        }
    }

    hr {
        color: #f8f8f4;
    }

    #policy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: white;
        gap: 20px; // Adjust the value as needed for spacing
    }
}

#aboutUsMain {
    max-width: 1550px;

    #aboutUsHeading {
        background-color: #3e3d35;
        color: #f8f8f4;
        margin: 0;
        padding: 50px 0 20px 100px;
        font-size: 70px;
        font-weight: 600;
    }

    #aboutUs {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #3e3d35;
        color: #f8f8f4;
    
        display: flex;
        gap: 100px;
    
        padding: 20px 100px;
    
        h3 {
            color: #f8f8f4;
            font-size: 40px;
            font-weight: 600;
        }
    }
}

#leaderShip {
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    max-width: 1550px;

    h2 {
        color: #3e3d35;
        font-weight: 600;
        font-size: 40px;
    }

    // button {
    //     background-color: #3e3d35;
    //     border: none;
    //     height: 50px;
    // }

    #profiles {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;

        gap: 100px;
        padding: 50px 0;

        .individual {
            display: flex;
            flex-direction: column;
            align-items: center;

            .name {
                font-size: 22px;
                color: #3e3d35;
                font-weight: 500;
            }

            .position {
                font-size: 20px;
                color: #3e3d35;
                font-weight: 500;
            }

            .email {
                font-size: 16px;
                color: #3e3d35;
            }

            img {
                border-radius: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

#strategyMain {
    background-color: #f8f8f4;
    padding: 0 100px;
    max-width: 1550px;

    h1 {
        color: #2c222b;
        margin: 0;
        font-size: 70px;
        font-weight: 600;
        padding: 50px 0 20px 0px; 
    }

    #strategy {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f8f8f4;
        // display: flex;
        width: 40%;
    }
}

#servicesContainer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 1550px;

    margin: 50px 0;
    padding: 0 100px;
    color: #3e3d35;


    .services {
        flex: 50%;
        padding: 50px 50px 50px 0;

        h2 {
            color: #3e3d35;
            font-weight: 600;
            font-size: 40px;
        }

        p {
            width: 90%;
        }
    }
}

#careerContainer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 1550px;

    margin: 50px 0;
    padding: 0 100px;
    color: #3e3d35;

    .career {
        flex: 50%;
        padding: 50px 50px 50px 0;

        h2 {
            color: #3e3d35;
            font-weight: 600;
            font-size: 40px;
        }

        p {
            width: 90%;
        }
    }
}

#openRolesContainer {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 100px 100px 100px;
    max-width: 1550px;

    .openRoles {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 5px;

        margin: 5px 0;
        padding: 5px 20px;

        p {
            font-size: 35px;
            font-weight: 600;
            color: #3e3d35;

            margin: 0;
            padding: 10px 0;

            text-align: center;
        }

        button {
            height: 50px;
        }

        transition: background-color 0.1s linear;
    }

    .openRoles:hover {
        background-color: #3e3d35;

        p {
            color: #f8f8f4;
        }

        button {
            border: 1px solid #f8f8f4;
            color: #f8f8f4;
        }
    }
}

#formMain {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1550px;

    h1 {
        background-color:#3e3d35;
        color:#f8f8f4; margin:0;
        padding:50px 0 0px 100px;
        font-size:70px;
        font-weight:600;
    }

    h2 {
        font-size: 50px;
        font-weight: 600;
    }

    hr {
        margin: 0;
        padding: 0;
    }

    .formContainer {
        display: flex;
        gap: 150px;
    
        padding: 50px 100px;
        background-color: #3e3d35;
    
        .section1 {
            width: 40%;
            color: #f8f8f4;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .section2 {
            width: 60%;
            color: #f8f8f4;

            p {
                margin: 0;
                padding: 0;

                width: 100%;
            }

            label {
                width: 100%;
            }


            input, textarea {
                background-color: #3e3d35;
                border: none;
                border-bottom: 0.5px solid  #f8f8f4;
                margin: 10px 0 30px 0;
                // width: 400px;
                width: 100%;
            }

            #checkbox {
                width: 50px;
            }

            button {
                color: #f8f8f4;
                border: 0.5px  solid #f8f8f4;
            }

            button:hover {
                color: #3e3d35;
                background-color: #f8f8f4;
            }

            #checkbox {
                background-color: #3e3d35;
            }
        }
    }
}

#home {
    font-family: Arial, Helvetica, sans-serif;

    max-width: 1550px;

    #h1a {
        position: relative;
        left: -200px;
        color: #3e3d35;
        font-weight: 600;
        font-size: 100px;
    }

    #h1b {
        position: relative;
        right: -200px;
        color: #3e3d35;
        font-weight: 600;
        font-size: 100px;
    }

    #coldMeetsInnovation {

        padding: 40px 100px;

        text-align: center;
        // border: 1px solid black;
        position: relative;

        // h1 {
        //     font-size: 135px;
        // }

        h2 {
            font-size: 70px;
            text-align: left;
            color: #2c222b;
        }

        #sub {
            text-align: left;
        }

        #servicesSupply {
            // border: 2px solid grey;
            // position: absolute;
            width: auto;
            margin: 50px 0 0 0;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            // border: 2px solid gold;
            height: 30px;

            position: relative;
            margin-bottom: 30px;

            #button2 {
                position: absolute;
                right: 0;
            }

            #button1 {
                position: absolute;
                left: 0;
            }
        }
        
    }

    #ourServicesAndStrategy {
        padding: 40px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
            width: 40%;
        }

        #sub {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: first baseline;

            width: 40%;

            // border: 2px dotted brown;
            padding: 80px 0;

            // h1 {
            //     position: relative;
            //     left: -50px;
            // }

            // button {
            //     position: relative;
            //     left: 30px;
            // }
        }
    }

    #committedToResponsibleLogistics {
        padding: 40px 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;

        // border: 2px solid yellow;

        h1 {
            padding-bottom: 20px;
        }
    }

    #careers {
        padding: 40px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        #sub {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: first baseline;

            width: 40%;

            // border: 2px dotted brown;
            // padding: 80px 0;
            margin: 30px 0;
        }

        img {
            width: 40%;
            aspect-ratio: 1.25/1;
            object-fit: cover;
        }
    }
}

// .NavButton {
//     aspect-ratio: 1/1;
//     padding: 20px;
//     margin: 0;
//     width: auto;
// }

.custom-offcanvas-body {
    #pages {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        height: 70%;
    }

    #socials {
        display: flex;
        flex-direction: row;
        height: 20%;

        justify-content: space-evenly;
        align-items: center;

        font-size: 40px;
        color: #f8f8f4;
    }
}

@media (max-width: 840px) {
    #home {
        #h1a, #h1b {
            position: relative;
            left: auto;
            right: auto;

            font-size: 10vw;
        }

        #coldMeetsInnovation {
            #coldMeetsInnovationContainer {
                h2 {
                    font-size: 60px;
                }
            }
        }

        #ourServicesAndStrategy {
            img {
                width: 100%;
            }

            #sub {
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }

        #committedToResponsibleLogistics {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #careers {
            #sub {
                width: 100%;
                align-items: center;
            }
            img {
                width: 100%;
            }
        }
    }

    #aboutUsMain {
        padding: 0;

        #aboutUsHeading {
            font-size: 100px;
            // padding: 20px 0;
            margin: 0;
        }
        #aboutUs {
            // padding: 0;
            display: flex;
            flex-wrap: wrap;
        }
    }

    #pages {
        margin-top: 30px;
        .navlinks {
            font-size: 38px;
        }
    }

    .custom-offcanvas-body {
        #custom-close-button {
            position: absolute;
            right: 11px;
            top: 15px;
            color:#f8f8f4;
            font-size: 40px;

            margin: 0;
            padding: 0;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            border-radius: 10px;
        }
    }

    #formMain {
        width: 100vw;
    }
}

@media (max-width: 480px) {
    #home {
        padding: 0;
        #h1a, #h1b {
            position: relative;
            left: auto;
            right: auto;

            font-size: 15vw;
            width: 100vw;
        }

        #coldMeetsInnovation {
            padding: 0;

            #coldMeetsInnovationContainer {
                padding: 20px;

                h2 {
                    font-size: 40px;
                }

                .button-container {
    
                    #button1 {
                        left: 50%;
                        transform: translate(-50%);
                        margin: 0;
                        width: 200px;
    
                        display: flex;
                        justify-content: center;
                    }
    
                    #button2 {
                        left: 50%;
                        transform: translate(-50%);
                        margin: 10px 0;
    
                        width: 200px;
    
                        display: flex;
                        justify-content: center;
                    }
                }
            }

        }

        #ourServicesAndStrategy {
            padding: 20px 20px 0 20px;
            img {
                width: 100%;
            }

            #sub {
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }

        #committedToResponsibleLogistics {
            padding: 0 20px;
            text-align: center;
        }

        #careers {
            padding: 0 20px 20px 20px;
            #sub {
                width: 100%;
                align-items: center;
            }
            img {
                width: 100%;
            }
        }
    }

    #aboutUsMain {
        padding: 0;

        #aboutUsHeading {
            font-size: 50px;
            padding: 20px;
            margin: 0;
        }
        #aboutUs {
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
        }

        #leaderShip {
            padding: 0;

            #leaderShipHeader {
                display: flex;
                flex-direction: column;

                h2 {
                    margin-top: 50px;
                }

                button {
                    margin-top: 20px;
                }
            }
        }
    }

    #strategyMain {
        padding: 20px;

        h1 {
            padding: 0;
        }

        #strategy {
            width: 100%;
        }

    }

    #servicesContainer {
        padding: 20px;

        .services {
            flex: 100%;
            padding: 0;
        }
    }

    #careerContainer {
        padding: 20px;
        margin: 0;

        .career {
            flex: 100%;
            padding: 0;
        }
    }

    #openRolesContainer {
        margin: 0;

        .openRoles {

            p {
                font-size: 25px;
                text-align: center;
            }
        }
    }

    #formMain {
        overflow: scroll;
        padding: 0;

        h1 {
            padding: 20px;
        }

        .formContainer {
            padding: 50px 20px;
            flex-direction: column;
            gap: 50px;

            .section1 {
                width: 100%;

            }

            .section2 {
                width: 100%;

                input, textarea {
                    width: 100%;
                }
            }
        }
    }

    #pages {
        .navlinks {
            font-size: 30px;
        }
    }

    .custom-offcanvas-body {
        #custom-close-button {
            position: absolute;
            right: 5px;
            top: 5px;
            color:#f8f8f4;
            font-size: 40px;

            margin: 0;
            padding: 0;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            border-radius: 10px;
        }
    }

    #header {
        height: 100px;
        margin: 0;
        padding: 20px;
    }
}